extends layout

block content
  h1= title
  div
      table#productList
        thead
          tr
            th Name
            th Price
            th Quantity
            th
        tbody
  br
  h2= total      
