extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src='/wstatic/javascripts/ajaxLoadData.js')
  div
      table#productList
        thead
          tr
            th Name
            th Type
            th Category
            th Price
            th Quantity
        tbody
