doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/wstatic/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    ul#navmenu
      li.menuitem
        a(href="/shop") Home
      li.menuitem
        a(href="/shop/cart") Cart
    block content
