extends layout

block content
  #payment
    h2= price
    form(name='product', method='post', action='/cart/add/')
        input(type="hidden" name="user_id" value=1)
        input(type="hidden" name="product_id" value=id)
        input(type="hidden" name="qty" value=1)
        input(type='submit', value='Add ToCart')
  #content(style={width: 70%})
    h1= title
    p !{description}
    br
